{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section skills-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% if skills.categories %} 
  <div class="skillset">
  {% for cat in skills.categories %}
  <h3 class="category-title"> {{ cat.category }} </h3>
  
  {% if cat.toolset %}
  
  {% for tool in cat.toolset %}
  <div class="item">
    <h3 class="level-title">{{ tool.name }}</h3>
    <div class="level-bar">
      <div class="level-bar-inner" data-level="{{ tool.level }}">
      </div>
    </div><!--//level-bar-->
  </div>
  {% endfor %}
  
  {% endif %} 

  {% endfor %}
  </div>
  {% endif %} 

</section><!--//skills-section-->
{% endif %}
